{% extends "::layout.html.twig" %}

{% block container %}
    <form method="POST" id="registre" href="{{path('ztn_utilisateur_registration_register')}}" {{ form_enctype(form) }} >
        <table>
            <tr>
                <td>{{ form_label(form.utilisateurNom, 'Nom',{'label_attr': {'class': 'control-label'}}) }}</td>
                <td>{{ form_widget(form.utilisateurNom)}}</td>
                <td>{{ form_errors(form.utilisateurNom) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.utilisateurPrenom, 'Prenom',{'label_attr': {'class': 'control-label'}}) }}</td>
                <td>{{ form_widget(form.utilisateurPrenom)}}</td>
                <td>{{ form_errors(form.utilisateurPrenom) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.email, 'Email',{'label_attr': {'class': 'control-label'}}) }}</td>
                <td>{{ form_widget(form.email)}}</td>
                <td>{{ form_errors(form.email) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.plainPassword.first)}}</td>
                <td>{{ form_widget(form.plainPassword.first)}}</td>
                <td>{{ form_errors(form.plainPassword) }}</td>
                
            </tr>
            <tr>
                <td>{{ form_label(form.plainPassword.second)}}</td>
                <td>{{ form_widget(form.plainPassword.second)}}</td>
                <td></td>
            </tr>
        </table>
                    {{ form_widget(form._token) }}
        <input type="submit" class="submit" id="_submit" value="confirmer"> 
        <div id="status"></div>
    </form>
{% endblock %}
